{% extends 'base.html' %}
{% block css_style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body{
background-color:white;
}
.b{
background-color:#f1f1f1;
background-repeat:no-repeat;


}
h3{
color:white;
margin-top:30px;
}
.lef{
margin-left:60px;
margin-right:60px;
color:white;
margin-top:40px;
}
.bor{
border-radius:50px;
}
.rig{
margin-left:60px;
color:white;
}
.reg{
margin-left:60px;
}
.reg a{
color:white;
}
.for a{
color:white;
margin-left:200px;
}
.for{
    margin-bottom:50px;
    }
.bb{
margin-left:60px;
margin-right:60px;
}
.venus{
width:90px;
background-color:white;
padding-bottom:3px;
margin-left:60px;
}
.pluto{
width:500px;
background-color:white;
padding-bottom:1px;
margin-left:60px;
margin-bottom:30px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row"><br/><br/>
		<div class="col-sm-6 b col-sm-offset-3 ">
		<h3 style="text-align:center;color:rgb(37,119,253);"><strong>Forgot Password</strong></h3>
        <p style="color:black;text-align:center;">Enter Email address to get password</p>

		<form action="{% url 'users:forgot_password' %}" method="post">
            {% csrf_token %}
			<div class="form-group">
			<div class="lef">
			<label style="color:black">Email</label>
			<br/>

			<input type="text" name="email" placeholder="Enter Email" class="form-control" style="border-radius:20px"/>
		</div>
		</div>

		<br/>
		<div class="form-group">
		<div class="bb">
			<input type="submit" class="btn btn-primary btn-block" style=" background-color:rgb(37,119,253);"/>
		</div>
		<br/><br/>
		</div>

		<br/><br/>

		</form>



		</div>
	</div>
</div>
{% endblock %}
